@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar-container {
  width: 350px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 5px;
  background-color: white;
  transition: width 0.3s;
}
